<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Trade B2B</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>salesforce</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app does not access music, but iOS requires this permission for technical reasons.</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is required to allow salespeople to capture and upload customer store pictures during check-in.</string>
	<key>NSDocumentsDirectoryUsageDescription</key>
	<string>Access to your device's storage is required to save and manage application data and files.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app requires access to the local network for debugging purposes</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs your location to track check-ins, check-outs and optimize sales routes, even when in the background.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs your location to track check-ins, check-outs and optimize sales routes, even when in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to track check-ins and show your position on the map while using the app.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone for video recording.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bluetooth is needed to connect to thermal printers.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to select images.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
    <string>Bluetooth access to connect 58mm or 80mm thermal printers</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
		 <string>processing</string>
		<string>remote-notification</string>
		<string>bluetooth-central</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.clearviewerp.salesforce.autoUploadTask</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSansKhmer-Regular.ttf</string>
	</array>
</dict>
</plist>
